.main {
  margin: 0%;
  width: 100%;
  border: 2px solid rgb(94, 92, 92);
  /* display: grid; */
  color: rgb(136, 99, 99);
  /* grid-template-rows: 22% 12% 8% auto 35% 8% 5%; */
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-areas:
    "headerdiv headerdiv headerdiv"
    "div1 div1 div1"
    "div2 div2 div2"
    "container"
    "carouselExampleIndicators"
    "div4 div4 div4"; */
}

/* @media screen and (max-width: 1000px) {
  .main {
    grid-template-rows: 22% 12% 8% auto 35% 8% 7%;
    grid-template-columns: 100%;
    grid-template-areas:
      "headerdiv"
      "div1"
      "div2"
      "container"
      "div3"
      "carouselExampleIndicators"
      "div4";
  }
} */

.main-header {
  grid-column: 1/4;
  border-bottom: #ffff;
  border-right: 2px;
}

header {
  text-align: left;
  justify-content: center;
}

#page-header {
  background-image: url(../Resume10/mary-largest.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 450px;
  background-color: #9b9797;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 130%;
  color: rgb(26, 25, 25);
  padding: 15%;
}

.about {
  display: flex;
  margin: 4px auto;
  padding-top: 2%;
  width: 70%;
  align-items: center;
  text-align: left;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.rounded-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.experience-container{
  padding: 2rem;
  font-family: Verdana;
  background-color: hsl(0, 10%, 54%);
  font-size: medium;
  color: white;
  grid-column: 1/4;
}


.form-container {
  width: 400px;
  margin: 5px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


.footer-container {
  background-color: #343330;
  text-align: center;
  color: white;
  grid-column: 1/4;
}

@media screen and (max-width: 600px) {
  .footer-container {
    display: flex;
    flex-direction: column;
  }
}

.container {
  width: 400px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 5px auto;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exp-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.exp-column {
  padding: 10px;
}

#experience {
  text-align: center;
}

#carouselheader{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.modal-container {
padding: 4px 4px 4px 4px;
}
